* {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto 13px;
}

form {
  align-items: center;
  border: solid 1px black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin: 0 10px 15px 0;
  width: 300px;
}

label {
  display: flex;
  flex-direction: column;
}

.line {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
}

input {
  width: 180px;
}

article {
  border: olivedrab solid;
  width: 200px;
}

textarea {
  resize: none;
}
